In [26]:
import numpy as np
import pandas as pd
import os
import random

load the files necessary

In [12]:
folder='elapsed/'
bfs_log_data = [pd.read_csv(folder+'bfs_log_data_elapse'+str(x)+'.csv') for x in range(1,4)]
bfs_proc_data = [pd.read_csv(folder+'bfs_proc_data_elapse'+str(x)+'.csv') for x in range(1,4)]
block_log_data = [pd.read_csv(folder+'block_log_data_elapse'+str(x)+'.csv') for x in range(1,4)]
block_proc_data = [pd.read_csv(folder+'block_proc_data_elapse'+str(x)+'.csv') for x in range(1,4)]

get the counts for each file

In [13]:
bfs_log_count = [x.shape[0] for x in bfs_log_data]
bfs_proc_count = [x.shape[0] for x in bfs_proc_data]
block_log_count = [x.shape[0] for x in block_log_data]
block_proc_count = [x.shape[0] for x in block_proc_data]
summary_data = {'bfs_log':bfs_log_count,'bfs_proc':bfs_proc_count,'block_log':block_log_count,'block_proc':block_proc_count}
data_summary = pd.DataFrame(summary_data)
data_summary

   bfs_log  bfs_proc  block_log  block_proc
0     4042         6       4250         667
1     8530      2618       3642         590
2    24157      3271       2460         378

In [14]:
block_proc_data[0]

,url,category,timestamp,timeelapse
0,https://open.canada.ca/en/open-data,health,1685800327435083098,0.000000e+00
1,https://catalog.data.gov/dataset/hud-low-and-m...,finance,1685800967772080744,6.403370e+11
2,https://catalog.data.gov/dataset/real-estate-s...,transport,1685801058282159341,9.051008e+10
3,https://catalog.data.gov/dataset/national-floo...,finance,1685801102059260616,4.377710e+10
4,https://catalog.data.gov/dataset/u-s-hourly-pr...,education,1685801126021723178,2.396246e+10
...,...,...,...,...
662,https://data.gov.uk/dataset/15ea2d0c-2f4a-490f...,climate_environment,1686921488604441625,1.488468e+11
663,https://data.gov.uk/dataset/b830b4c2-5cab-44f2...,climate_environment,1686921572187268992,8.358283e+10
664,https://data.gov.uk/dataset/1fb30921-51fb-478b...,education,1686921601410628933,2.922336e+10
665,https://data.gov.uk/dataset/46799a50-5f39-42be...,finance,1686923059993467157,1.458583e+12
666,https://data.gov.uk/dataset/e4ed7946-2052-4833...,climate_environment,1686923104548292608,4.455483e+10

Try to get the result of the longest url-log and saving so that can be used to generate more values

In [18]:
longest_log_data = [pd.concat([bfs_log_data[x],block_log_data[x]], ignore_index=True) for x in range(3)]
longest_proc_data = [pd.concat([bfs_proc_data[x],block_proc_data[x]], ignore_index=True) for x in range(3)]

In [25]:
longest_proc_data[1]

,url,category,timestamp,timeelapse
0,https://catalog.data.gov/dataset/fdic-failed-b...,health,1675203010327722075,0.000000e+00
1,https://catalog.data.gov/dataset/dynamic-small...,technology,1675203030655347687,2.032763e+10
2,https://catalog.data.gov/dataset/electric-vehi...,health,1675203035668846650,5.013499e+09
3,https://catalog.data.gov/dataset/lottery-mega-...,health,1675203041799279960,6.130433e+09
4,https://catalog.data.gov/dataset/national-stud...,education,1675203048953890787,7.154611e+09
...,...,...,...,...
3203,https://data.gov.uk/dataset/81ee5b4e-9744-4c12...,education,1686918341940261776,1.191040e+11
3204,https://catalog.data.gov/dataset/the-bronson-f...,education,1686918411714280513,6.977402e+10
3205,https://catalog.data.gov/dataset/summer-sports...,education,1686918437558076690,2.584380e+10
3206,https://data.gov.uk/dataset/5438d88d-695b-4381...,education,1686918525994100910,8.843602e+10
3207,https://data.gov.uk/dataset/6b88e706-60f6-448f...,education,1686918651551286033,1.255572e+11

In [ ]:
def generateFile(primary_data,size, seed, diff_range):
#     the diff_range must be a tuple of likely different range for timeelapse
    random.seed(seed)
    result = random.sample(primary_data)
#     now update the size of the 
    ud